<div class="container">
    <form (ngSubmit)="submit()">
        <div class="container">
           <div class="mb-4 mt-3" >
            <span class="btn" style="cursor: pointer;margin-right: 25px;background-color:darkviolet;color:white;" (click)="addform()" >Add new phone</span>
            <span (click)="submit()" class="btn btn-primary">Submit</span>
           </div> 
           <div class="form-row mt-2" *ngFor = "let r of phonearray;let i = index">
                <div class="form-group d-flex">
                    <label>Phone {{i+1}}</label>
                    <input type="number" class="from-control" name="phone{{i}}" #app [(ngModel)] = "r.phone"  autocomplete="off">
                    <span class="" *ngIf="is" style="cursor: pointer;background-color: bisque;padding:2px 10px;margin-left: 10px;font-size: 20px;" (click)="removeform(i)" ><i class="bi bi-x"></i></span>
                </div>
            </div>
        </div>
    </form>
</div>